

<div class="row">
    <div class="col-lg-12">
       
        <form name="StudentCreate.userForm" ng-submit="StudentCreate.submitForm()" novalidate>
            <!-- USERNAME -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.name.$invalid && !StudentCreate.userForm.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="StudentCreate.user.name" ng-minlength="3" ng-maxlength="8">
                <p ng-show="StudentCreate.userForm.name.$error.minlength" class="help-block">Username is too short.</p>
                <p ng-show="StudentCreate.userForm.name.$error.maxlength" class="help-block">Username is too long.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.email.$invalid && !StudentCreate.userForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="StudentCreate.user.email" required>
                <p ng-show="StudentCreate.userForm.email.$invalid && !StudentCreate.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <!-- PHONE -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.phone.$invalid && !StudentCreate.userForm.phone.$pristine }">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" ng-model="StudentCreate.user.phone" ng-minlength="11" ng-maxlength="20" required>
                <p ng-show="StudentCreate.userForm.phone.$error.minlength" class="help-block">Phone is too short.</p>
                <p ng-show="StudentCreate.userForm.phone.$error.maxlength" class="help-block">Phone is too long.</p>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="StudentCreate.userForm.$invalid">Submit</button>

        </form>

    </div>
</div>